# Ignore the virtual environment folder
venv/
myenv/

# Ignore generated data files
*.csv

# Ignore large disk images and the Images folder
Images/
*.dd
*.img

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

Artifacts.py

Similarity.py

Unique_model.py